<div class="alert text-center" role="alert">
    Category List
</div>
<div class="border p-2 m-2">
    <table id="tblData" class="table table-bordered table-striped table-active">
        <thead>
            <tr class="bg-primary">
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

<div class="text-center">
    <a asp-action="Upsert" class="btn btn-outline-primary"><i class="fas fa-plus">&nbsp;Add</i></a>
</div>
@section Scripts
    {
    <script src="~/js/Category.js"></script>
}
