@model int
<div class="">
    <div class="box" style="">
        <div class="success design">
            <div class="design-body">
                Success !
            </div>
        </div>
    </div>
        <br />
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="text-center">
        Thank you for your order! <br />
        We have received your order and we will send a follow up email shortly!
        <br />
        Your Order Number is :@Model
    </div>
</div>